.container{
    border: 1px solid lightgray;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    padding: 5px;
}

.menu-items-container{
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}

.menu-items-container li{
    list-style: none;
}

.menu-items-container li a{
    text-decoration: none;
    color: white,;
}

.buttons-section{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.buttons-section button{
    background-color: aqua;
    padding: 3px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}