@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    background-color: #2e2e27;
    width: 1500px;
    margin: auto;
    margin-top: 100px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001525; 
    height: 40px;
}

.middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.label {
background-color: #F3F0EC;
height: 20px;
width: 44px;
border-radius: 100px;
border: none;
padding: 3px 8px;
display: flex;
justify-content: center;
align-items: center;
}

.label span {
    font-family: "Inter";
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 8%;
    text-transform: uppercase;
    color: #001525;
}

.middle-section p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0;
    color: white;
}

.right-section {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.right-section img {
    padding: 3.6px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background-color: white;
}

.navigation .left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-right: 52px;
}

.navigation .left-section h4 {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #141414;
}

.navigation .middle-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.navigation .middle-section ul a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #2e2e27;
}

.industries {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.navigation .right-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-right: 52px;
}
.right-sections span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #0c0d0e;
}

.right-sections button {
    background-color: #306BEA;
    padding: 8px 20px;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: white;
}